.banner {
  background-image: url(spacebackground.jpeg);
  background-size: cover;
  background-position: center;
  padding: 200px 0;
}

.banner h1 {
  text-align: center;
  color: white;
}

.banner p {
  color: white;
  opacity: .7;
  font-size: 25px;
  text-align: center;

}
